<%- include('partials/header') %>
    <h1>
        <%= title %>
    </h1>

    <ul>

        <li>Enviromental</li>
        <li>Educational</li>
        <li>Comunity Service</li>
        <li>Health and wellness</li>
    </ul>


<%- include('partials/footer') %>